//HEADER
.header{
    background-color: #242021;
    color: #e2e2e2;    
    position: fixed;
    width: 100%;
    transition: 0.3s ease-in-out;
    .navbar{
        font-size: 20px;
        .container{
            .navbar-brand{
                color: #e2e2e2;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .navbar-nav{
                .nav-item{
                    margin: auto 10px;
                    .nav-link{
                        color: #e2e2e2;
                        border-bottom: 2px solid transparent;
                        transition: .3s;
                        font-weight: 600;
                    }
                    .nav-link:hover{
                        border-bottom: 2px solid #e2e2e2;
                        transition: .3s;
                    }
                }
            }
        }
    }
}
/* .scrolled{
    background-color: rgba(22, 22, 22, 0.9);
    transition: .3s ease-in-out;
    color: #e2e2e2;
    button{
        background-color: #8d8c8c;
        span{
            color: #e2e2e2;
        }
    }
    a{
        color: #e2e2e2;
    }
} */


//MAIN
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 100%;
        height: 100%;
        margin-top: 80px;
    }
}
//marcas
.marcas{
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
    .marcas-item{
        width: 200px;
        height: 200px;
        border-radius: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
//servicios
.servicios-container{
    height: 700px;
    background-color: whitesmoke;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .h3-servicios{
        text-align: center;
        margin-bottom: 30px;
    }
    .servicios{
        display: flex;
        justify-content: space-around;
        .servicios-item{
            width: 400px;
            height: 500px;
            box-shadow: 8px 11px 22px 0px rgba(0,0,0,0.75);
            -webkit-box-shadow: 8px 11px 22px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 8px 11px 22px 0px rgba(0,0,0,0.75);
            background-color: white;
            display: flex;
            flex-direction: column;
            color: black;
            text-align: center;
            h4{
                margin-top: 20px;
            }
            }
            img{
                width: 100%;
                height: 80%;
                object-fit: cover;
            }
            button {
                margin-bottom: 20px;
                margin-left: 100px;
                margin-right: 100px;
                --c:  #229091; /* the color*/
                
                box-shadow: 0 0 0 .1em inset var(--c); 
                --_g: linear-gradient(var(--c) 0 0) no-repeat;
                background: 
                  var(--_g) calc(var(--_p,0%) - 100%) 0%,
                  var(--_g) calc(200% - var(--_p,0%)) 0%,
                  var(--_g) calc(var(--_p,0%) - 100%) 100%,
                  var(--_g) calc(200% - var(--_p,0%)) 100%;
                background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
                outline-offset: .1em;
                transition: background-size .4s, background-position 0s .4s;
                font-family: system-ui, sans-serif;
                font-size: 1.5rem;
                cursor: pointer;
                padding: .1em .6em;
                font-weight: bold;  
                border: none;
              }
              button:hover {
                --_p: 100%;
                transition: background-position .4s, background-size 0s;
              }
              button:active {
                box-shadow: 0 0 9e9q inset #0009; 
                background-color: var(--c);
                color: #fff;
              }
        }
    }
//galeria
.gallery{
    display: flex;
    margin: 20px;
    margin-top: 50px;
    flex-wrap: wrap;
    .gallery-item{
        margin: 3px;
        width: 430px;
        height: 300px;
        box-shadow: 8px 11px 22px 0px rgba(0,0,0,0.75);
            -webkit-box-shadow: 8px 11px 22px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 8px 11px 22px 0px rgba(0,0,0,0.75);
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: .6;
        }
    }
    .gallery-item:hover{
        cursor: pointer;
        img{
            transition: all .3s;
            opacity: 1;
        }
    }
}
//ubicacion
.ubicacion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    flex-direction: column;
    h3{
        font-size: 1.5em;
        margin-bottom: 20px;
    }
    iframe{
        width: 90%;
        height: 600px;
    }
}
//FOOTER
.footer{
    height: 200px;
    background-color: #8d8c8c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3{
        font-size: 1.5em;
        color: white;
    }
    i{
        font-size: 1.5em;
        color: white;
    }
    p{
        font-size: 1.5em;
        color: white;
    }
}
//MOBILE
@media (min-width: 320px) and (max-width: 767px){
    .header{
        .navbar{
            .container{
                .navbar-nav{
                    .nav-item{
                        .nav-link{
                            font-weight: 400;
                            font-size: 1em;
                            color: #e2e2e2;
                        }
                    }
                }
            }
        }
    }
    .marcas{
        display: flex;
        justify-content: space-around;
        height: auto;
        margin-top: 50px;
        .marcas-item{
            width: 100px;
            height: 100px;
            border-radius: 100%;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }

    .servicios-container{
    flex-direction: column;
    align-items: center;
    height: auto;
    .h3-servicios{
        font-size: 1em;
        margin-top: 20px;
    }
    .servicios{
        display: flex;
        flex-direction: column;
        .servicios-item{
            width: 350px;
            height: 500px;
            margin-bottom: 60px;
            padding-bottom: 80px;
            h4{
                margin-top: 20px;
            }
            }
            img{
                width: 100%;
                height: 80%;
                object-fit: cover;
            }
            button {
                margin-bottom: 20px;
                margin-left: 100px;
                margin-right: 100px;
                --c:  #229091; /* the color*/
                
                box-shadow: 0 0 0 .1em inset var(--c); 
                --_g: linear-gradient(var(--c) 0 0) no-repeat;
                background: 
                  var(--_g) calc(var(--_p,0%) - 100%) 0%,
                  var(--_g) calc(200% - var(--_p,0%)) 0%,
                  var(--_g) calc(var(--_p,0%) - 100%) 100%,
                  var(--_g) calc(200% - var(--_p,0%)) 100%;
                background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
                outline-offset: .1em;
                transition: background-size .4s, background-position 0s .4s;
                font-family: system-ui, sans-serif;
                font-size: 1.5rem;
                cursor: pointer;
                padding: .1em .6em;
                font-weight: bold;  
                border: none;
              }
              button:hover {
                --_p: 100%;
                transition: background-position .4s, background-size 0s;
              }
              button:active {
                box-shadow: 0 0 9e9q inset #0009; 
                background-color: var(--c);
                color: #fff;
              }
        }
    }
    .gallery{
        display: flex;
        margin: 20px;
        margin-top: 50px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .gallery-item{
            margin: 3px;
            width: 150px;
            height: 150px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 1;
            }
        }
        .out{
            display: none;
        }
    }
    .ubicacion{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        iframe{
            width: 300px;
            height: 500px;
        }
        h3{
            font-size: 1.5em;
            margin-bottom: 20px;
        }
    }
    .footer{
        background-color: #b32929;
        h3{
            font-size: 1em;
            color: white;
        }
        i{
            font-size: 1em;
            color: white;
        }
        p{
            font-size: 1em;
            color: white;
        }
    }
}